* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Chess board */

.board {
    width: 800px;
    height: 800px;
    box-sizing: border-box;
    border: 2px solid;
}