.hero__wrapper {
    display: flex;
    padding-top: 27px;
    align-items: center;

    .hero__content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .text {
            margin: 6px 0 10px;
        }
    }

    .hero__underline {
        position: relative;

        img {
            position: absolute;
            bottom: 15px;
            left: -15%;
            z-index: 10;
        }

        span {
            position: relative;
            z-index: 20;
        }
    }

    .hero__accent {
        font-size: 20px;
        font-weight: 700;
        color: $accent;
        text-transform: uppercase;
    }

    .hero__title {
        font-family: 'Volkhov';
        color: $hero-title;
        font-size: 84px;
        font-weight: 700;
        line-height: 89px;
        letter-spacing: -3.36px;
        max-width: 545px;
    }

    .hero__cto {
        display: flex;
        align-items: center;
        gap: 44px;
    }

    .hero__bg {
        position: absolute;
        top: 0;
        right: 0;
    }

    .hero__illustartions {
        position: relative;

        img:nth-child(-n+2) {
            position: relative;
            z-index: 20;
        }

        img:nth-child(2) {
            position: absolute;
            z-index: 30;
            left: 15%;
            top: 50%;
            animation: firstPlane 3s linear infinite;
        }

        img:nth-child(3) {
            position: absolute;
            z-index: 10;
            top: 15%;
            left: 75%;
            animation: secondPlane 2s linear infinite;
        }
    }
}
