.header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
  
    &__wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
  
    nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
  
      .navigation {
        display: flex;
        gap: 40px;
  
        li {
          list-style: none;
  
          a {
            color: $text;
            text-decoration: none;
            font-weight: 400;
          }
        }
      }
    }
  
    &__controls {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
  