@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text: #4F5665;
    --title: #0B132A;
    --accent: #F53838;
    --white: #fff;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

/* Wrappers */

.wrapper {
    max-width: 1140px;
}

.header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__wrapper {
    gap: 40px;
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 40px;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    color: var(--text);
    text-decoration: none;
    font-weight: 400;
}

.header__controls {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.03);
}

.btn.signIn {
    color: var(--title);
    border: unset;
    background: transparent;
}

.btn.signUp, .btn.default, .btn.accent {
    color: var(--accent);
    padding: 13px 45px;
    border-radius: 50px;
    border: 1px solid var(--accent);
    background: transparent;
}

.btn.accent {
    color: white;
    background-color: var(--accent);
    box-shadow: 0 15px 50px rgba(245, 56, 56, 0.55);
}

.btn.accent:hover {
    box-shadow: 0 15px 50px rgba(245, 56, 56, 0.70) 
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 88.5px 0 103px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    max-width: 555px;
    gap: 20px;
}

.hero__content h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    margin: 0;
    color: var(--title);
}

.hero__content h1 span {
    font-weight: 700;
}

.hero__content p {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.hero__content p span {
    font-weight: 500;
}

.btn.cto {
    color: var(--white);
    padding: 17.5px 77.5px;
    max-width: 250px;
    border-radius: 10px;
    background: var(--accent);
    border: none;
    box-shadow: 0 15px 50px rgba(245, 56, 56, 0.55);
}

.btn.cto:hover {
    box-shadow: 0 15px 50px rgba(245, 56, 56, 0.70)
}

/* Sections */

.features, 
.about, 
.pricing, 
.network, 
.clients, 
.testimonials, 
.subscribe,
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: var(--title);
}

.text {
    font-size: 16px;
    color: var(--text);
    font-weight: 400;
    line-height: 30px;
}

/* End Sections */

.features {
    margin-bottom: 95.8px;
}

.features__container {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 50px rgba(13, 16, 37, 0.06);
}

.features__container ul {
    display: flex;
    padding: 34.8px 91px;
    list-style: none;
    margin: 0;
}

.features__item {
    display: flex;
    gap: 36.5px;
    padding: 37.2px 0;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.features__item:nth-child(odd) {
    justify-content: unset;
}

.features__item:nth-child(even) {
    border-right: 2px solid#EEEFF2;
    border-left: 2px solid #EEEFF2;
    padding: 0 112px;
}

.features__item:last-child {
    justify-content: flex-end;
}

.features__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.circle {
    width: 55px;
    height: 55px;
    background: #FFECEC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle svg {
    max-width: 24px;
}

.features__value {
    font-size: 25px;
    color: var(--title);
    font-weight: 700;
    line-height: 30px;
}

.features__text {
    margin: 0;
    font-size: 20px;
    color: var(--text);
    font-weight: 400;
    line-height: 30px;
}

.about__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 170px;
    padding-bottom: 126.7px;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__content ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about__content ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--text);
    font-weight: 400;
    line-height: 30px;
}

.about__content ul li:before {
    content: url('../../public/images/check-circle.svg');
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.pricing {
    padding: 80px 0 150px;
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
}

.pricing__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pricing__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pricing__wrapper ul li, .pricing__list li {
    list-style: none;
}

.cards__wrapper {
    width: 100%;
    display: flex;
    gap: 50;
    justify-content: space-between;
}

.pricing__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 76px 50px;
    border: 2px solid #DDD;
    border-radius: 10px;
}

.pricing__item:last-child {
    border-color: var(--accent);
}

.item__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__info img {
    max-width: 145px;
    margin-bottom: 30px;
}

.item__info h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: var(--title);
}

.pricing__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-top: 30px;
}

.pricing__list li {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
}

.pricing__list li:before {
    content: url('../../public/images/check-circle.svg');
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.item__cto {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.pricing__term {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    color: var(--title);
}

.pricing__term--sub {
    font-weight: 400;
    color: var(--text);
}

.network__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.network__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 155.8px;
}

.network__content .title {
    max-width: 383px;
    text-align: center;
}

.network__content .text span {
    font-weight: 500;
}

.clients__wrapper {
    width: 100%;
    margin: 80px 0 125px;
}

.clients__wrapper ul {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}

.clients__wrapper ul li img {
    max-width: 190px;
    transition: filter 0.4s;
}

.clients__wrapper ul li img:hover {
    filter: brightness(0.6);
}

.testimonials__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.testimonials__content .title {
    max-width: 447px;
    text-align: center;
}

.subscribe__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 58.8px 70px;
    box-shadow: 0 10px 50px rgba(13, 16, 37, 0.06);
    border-radius: 10px;
    position: relative;
    top: 120px;
    z-index: 5;
    background: var(--white);
}

.subscribe__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subscribe__content .title {
    max-width: 371px;
}

.btn.cto.subscribe {
    max-width: 270px;
}

.footer {
    padding: 186px 0 100px;
    background: #F8F8F8;
}

.footer__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
}

.footer__info img {
    max-width: 149px;
}

.footer__info .text {
    margin-top: 10px;
    max-width: 340px;
}

.footer__info .text span {
    font-weight: 500;
}

.social {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

.social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.social__item:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 55px 10px rgb(0 0 0 / 0.1);
}

.social__item .icon {
    width: 24px; 
    height: 24px;
    fill: var(--accent);
}

.footer__menu {
    display: flex;
    gap: 120px;
}

.footer__info .text:last-child {
    opacity: 0.3;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu__list h2 {
    font-size: 18px;
    color: var(--title);
    font-weight: 500;
    line-height: 30px;
} 

.menu__list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.menu__list ul li a{
    font-size: 16px;
    color: var(--text);
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    text-decoration: none;
}

/* Additional */

.pricing__content .text, 
.network__content .text,
.testimonials__content .text {
    max-width: 555px;
    text-align: center;
}