/* Main */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

/* Wrappers */
.wrapper {
  max-width: 1140px;
}

.features,
.about,
.pricing,
.network,
.clients,
.testimonials,
.subscribe,
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content */
.title {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  color: #0B132A;
}

.text {
  font-size: 16px;
  color: #4F5665;
  font-weight: 400;
  line-height: 30px;
}

.pricing__content .text,
.network__content .text,
.testimonials__content .text {
  max-width: 555px;
  text-align: center;
}

.visible {
  opacity: 1 !important;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
}
.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.header nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header nav .navigation {
  display: flex;
  gap: 40px;
}
.header nav .navigation li {
  list-style: none;
}
.header nav .navigation li a {
  color: #4F5665;
  text-decoration: none;
  font-weight: 400;
}
.header__controls {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer {
  padding: 186px 0 100px;
  background: #F8F8F8;
}
.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__wrapper__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
}
.footer__wrapper__info img {
  max-width: 149px;
}
.footer__wrapper__info .text {
  margin-top: 10px;
  max-width: 340px;
}
.footer__wrapper__info .text span {
  font-weight: 500;
}
.footer__wrapper .footer__menu {
  display: flex;
  gap: 120px;
}
.footer__wrapper .footer__menu .menu__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__wrapper .footer__menu .menu__list h2 {
  font-size: 18px;
  color: var(--title);
  font-weight: 500;
  line-height: 30px;
}
.footer__wrapper .footer__menu .menu__list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.footer__wrapper .footer__menu .menu__list ul li a {
  font-size: 16px;
  color: var(--text);
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
  text-decoration: none;
}
.footer__wrapper .social {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__wrapper .social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.footer__wrapper .social__item:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 55px 10px rgba(0, 0, 0, 0.1);
}
.footer__wrapper .social__item .icon {
  width: 24px;
  height: 24px;
  fill: #F53838;
}
.footer__wrapper__info .text:last-child {
  opacity: 0.3;
}

/* Sections */
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 88.5px 0 103px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 555px;
  gap: 20px;
}
.hero__content h1 {
  font-size: 46px;
  font-weight: 500;
  line-height: 70px;
  margin: 0;
  color: #0B132A;
}
.hero__content h1 span {
  font-weight: 700;
}
.hero__content p {
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.hero__content p span {
  font-weight: 500;
}

.features {
  margin-bottom: 95.8px;
}
.features__container {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(13, 16, 37, 0.06);
}
.features__container ul {
  display: flex;
  padding: 34.8px 91px;
  list-style: none;
  margin: 0;
}
.features__container ul li {
  display: flex;
  gap: 36.5px;
  padding: 37.2px 0;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.features__container ul li .circle {
  width: 55px;
  height: 55px;
  background: #FFECEC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features__container ul li .circle svg {
  max-width: 24px;
}
.features__container ul li:nth-child(odd) {
  justify-content: unset;
}
.features__container ul li:nth-child(even) {
  border-right: 2px solid #EEEFF2;
  border-left: 2px solid #EEEFF2;
  padding: 0 112px;
}
.features__container ul li:last-child {
  justify-content: flex-end;
}
.features__container ul li__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.features__container ul li__info__value {
  font-size: 25px;
  color: #0B132A;
  font-weight: 700;
  line-height: 30px;
}
.features__container ul li__info__text {
  margin: 0;
  font-size: 20px;
  color: #4F5665;
  font-weight: 400;
  line-height: 30px;
}

.about__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 170px;
  padding-bottom: 126.7px;
  opacity: 0;
}
.about__wrapper .about__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__wrapper .about__content ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about__wrapper .about__content ul li {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #4F5665;
  font-weight: 400;
  line-height: 30px;
}
.about__wrapper .about__content ul li:before {
  content: url("../../public/images/check-circle.svg");
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.pricing {
  padding: 80px 0 150px;
  background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
}
.pricing__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  opacity: 0;
}
.pricing__wrapper .pricing__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pricing__wrapper .cards__wrapper {
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.pricing__wrapper .cards__wrapper .pricing__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 76px 50px;
  border: 2px solid #DDD;
  border-radius: 10px;
}
.pricing__wrapper .cards__wrapper .pricing__item:last-child {
  border-color: #F53838;
}
.pricing__wrapper .cards__wrapper .pricing__item .item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__wrapper .cards__wrapper .pricing__item .item__info img {
  max-width: 145px;
  margin-bottom: 30px;
}
.pricing__wrapper .cards__wrapper .pricing__item .item__info h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #0B132A;
}
.pricing__wrapper .cards__wrapper .pricing__item .pricing__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin-top: 30px;
}
.pricing__wrapper .cards__wrapper .pricing__item .pricing__list li {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #4F5665;
}
.pricing__wrapper .cards__wrapper .pricing__item .pricing__list li:before {
  content: url("../../public/images/check-circle.svg");
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
.pricing__wrapper .cards__wrapper .pricing__item .item__cto {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.pricing__wrapper .cards__wrapper .pricing__item .pricing__term {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  color: #0B132A;
}
.pricing__wrapper .cards__wrapper .pricing__item .pricing__term--sub {
  font-weight: 400;
  color: #4F5665;
}

.network__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.network__wrapper__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 155.8px;
}
.network__wrapper__content .title {
  max-width: 383px;
  text-align: center;
}
.network__wrapper__content .text span {
  font-weight: 500;
}

.clients__wrapper {
  width: 100%;
  margin: 80px 0 125px;
}
.clients__wrapper ul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
.clients__wrapper ul li {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.clients__wrapper ul li img {
  max-width: 190px;
  transition: filter 0.4s;
}
.clients__wrapper ul li img:hover {
  filter: brightness(0.6);
}
.clients__wrapper ul .show {
  opacity: 1 !important;
}

.testimonials__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__wrapper .testimonials__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.testimonials__wrapper .testimonials__content .title {
  max-width: 447px;
  text-align: center;
}

.subscribe__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 58.8px 70px;
  box-shadow: 0 10px 50px rgba(13, 16, 37, 0.06);
  border-radius: 10px;
  position: relative;
  top: 120px;
  z-index: 5;
  background: #fff;
}
.subscribe__wrapper .subscribe__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.subscribe__wrapper .subscribe__content .title {
  max-width: 371px;
}

/* Buttons */
.btn {
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s;
  cursor: pointer;
}
.btn.cto {
  color: #fff;
  padding: 17.5px 77.5px;
  max-width: 250px;
  border-radius: 10px;
  background: #F53838;
  border: none;
  box-shadow: 0 15px 50px rgba(245, 56, 56, 0.55);
}
.btn.cto:hover {
  box-shadow: 0 15px 50px rgba(245, 56, 56, 0.7);
}
.btn.cto.subscribe {
  max-width: 270px;
}
.btn:hover {
  transform: scale(1.03);
}
.btn.signIn {
  color: #F53838;
  border: unset;
  background: transparent;
}
.btn.signUp, .btn.default, .btn.accent {
  color: #F53838;
  padding: 13px 45px;
  border-radius: 50px;
  border: 1px solid #F53838;
  background: transparent;
}
.btn.signUp.accent, .btn.default.accent, .btn.accent.accent {
  color: white;
  background-color: #F53838;
  box-shadow: 0 15px 50px rgba(245, 56, 56, 0.55);
}
.btn.signUp.accent:hover, .btn.default.accent:hover, .btn.accent.accent:hover {
  box-shadow: 0 15px 50px rgba(245, 56, 56, 0.7);
}

/*# sourceMappingURL=style.css.map */
