@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables';

body {
    font-family: $font-family;
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
}

/* Wrappers */

.wrapper {
    max-width: $wrapper;
}

.features, 
.about, 
.pricing, 
.network, 
.clients, 
.testimonials, 
.subscribe,
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */

.title {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: $title;
}

.text {
    font-size: 16px;
    color: $text;
    font-weight: 400;
    line-height: 30px;
}

.pricing__content .text, 
.network__content .text,
.testimonials__content .text {
    max-width: 555px;
    text-align: center;
}

.visible {
    opacity: 1 !important;
}