@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap');

:root {
    --text: #5E6282;
    --title: #14183E;
    --hero-title: #181E4B;
    --menu: #212832;
    --accent: #DF6951;
    --white: #fff;
    --yellow: #F1A501;
    --siub-bg: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.title {
    font-family: 'Volkhov';
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--title);
}

.subtitle {
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
    margin-bottom: 10px;
} 

.uppercase {
    text-transform: uppercase;
}

.text {
    color: var(--text);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.header,
.hero, 
.services, 
.destinations, 
.booking,
.testimonials,
.partners,
.subscribe
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
}

/* Header */

.header {
    padding-top: 48px;
    position: relative;
    z-index: 50;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__wrapper ul {
    display: flex;
    gap: 86px;
    align-items: center;
}

.header__wrapper ul li {
    transition: all 0.4s;
}

.header__wrapper ul li a {
    font-size: 17px;    
    font-weight: 400;
    color: var(--menu);
    
}

.header__wrapper ul li:not(:last-child):hover {
    color: #14183E;
    transform: scale(1.05);
    text-decoration: underline;
}

.btn {
    padding: 9px 22px;
    color: var(--menu);
    font-size: 17px;    
    font-weight: 400;
    border: 1px solid var(--menu);
    border-radius: 5px;
    background: transparent;
    transition: all 0.5s;
    cursor: pointer;
}

.header__controls {
    display: flex;
    align-items: center;
    gap: 42px;
}

.header__controls .btn:hover {
    background: var(--accent);
    border-color: var(--accent);
    color: var(--white);
    transform: scale(1.05);
}

.header__controls select {
    background: transparent;
    color: var(--menu);
    font-size: 17px;
    font-weight: 400;
    border: 0px;
    font-family: 'Poppins';
    cursor: pointer;
}

/* Hero */

.hero__wrapper {
    display: flex;
    padding-top: 27px;
    align-items: center;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero__accent {
    font-size: 20px;
    font-weight: 700;
    color: var(--accent);
    text-transform: uppercase;
}

.hero__title {
    font-family: 'Volkhov';
    color: var(--hero-title);
    font-size: 84px;
    font-weight: 700;
    line-height: 89px;
    letter-spacing: -3.36px;
    max-width: 545px;
}

.hero__title span { /* ToDO */
    background-image: url('../../public/images/hero-title.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto;
}

.hero__content .text {
    margin: 6px 0 10px;
}

.hero__cto {
    display: flex;
    align-items: center;
    gap: 44px;
}

.btn__hero {
    background: var(--yellow);
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
    border: none;
    padding: 18px 28px;
    color: var(--white);
}

.btn__hero:hover {
    transform: scale(0.9);
    box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.55);
}

.btn__demo {
    display: flex;
    align-items: center;
    color: #686D77;
    font-size: 17px;
    font-weight: 500;
    gap: 21px;
    transition: all 0.45s
}

.btn__demo img { /* Fix img margins + transition */
    margin: -18px -30px -46px;
    transition: transform 0.5s;
}

.btn__demo:hover {
    transform: scale(1.05);
}

.btn__demo:hover img {
    transform: translateX(10px);
}

.hero__bg {
    position: absolute;
    top: 0;
    right: 0;
}

.hero__illustartions {
    position: relative;
}

.hero__illustartions img:nth-child(-n+2) {
    position: relative;
    z-index: 20;
}

.hero__illustartions img:nth-child(2) {
    position: absolute;
    z-index: 30;
    left: 15%;
    top: 10%;
}

.hero__illustartions img:nth-child(3) {
    position: absolute;
    z-index: 10;
    top: 15%;
    left: 75%;
}

/* Services */

.services__wrapper {
    margin: 97px 0 0;
    padding-bottom: 123px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.service__decoration {
    position: absolute;
    top: 0;
    right: 0;
}

.services__grid {
    margin-top: 108px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);
}

.service__wrapper {
    position: relative;
    z-index: 10;
}

.services__card {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    padding: 24px 75px 40px;
    transition: all 0.4s;
    position: relative;
    z-index: 20;
    background-color: white;
    transition: all 0.35s;
    min-height: 314px;
}

.card__bow {
    border-radius: 30px 0px 10px 0px;
    background: var(--accent);
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    opacity: 0; 
    visibility: hidden; 
    transition: transform 0.4s, opacity 0.4s, visibility 0.4s;
}

.service__wrapper:hover .services__card {
    z-index: 40;
    border-radius: 36px;
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 
    0px 20px 13px 0px rgba(0, 0, 0, 0.01), 
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

.service__wrapper:hover .card__bow {
    opacity: 1;
    visibility: visible;
    transform: translate(-35px, 35px);
    z-index: 30;
}

.service__wrapper:last-child .services__card img { /* Fix png image */
    margin: -40px;
}

.card__title {
    margin-top: 34px;
    font-size: 20px;
    font-weight: 600;
    color: var(--title);
}

.services__card .text {
    max-width: 181px;
}

/* Destination */

.destinations__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destinations__row {
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.destinations__card {
    position: relative;
}

.item__wrapper {
    position: absolute;
    bottom: 25%;
    left: 16%;
    background: white;
    width: 59%;
    display: flex;
    flex-direction: column;
    gap: 19px;
    padding: 27px 20px 42px;
    border-radius: 0 0 24px 24px;
}

/* fix card gap */

.destinations__card:first-child {
    position: relative;
    left: 8%;
}

.destinations__card:last-child {
    position: relative;
    right: 8%;
    background-image: url('../../public/images/Decore.svg');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.item__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.item__info .title, 
.item__value, 
.item__term {
    color: var(--text);
    font-size: 18px;
    font-weight: 500;
}

.item__term {
    display: flex;
    align-items: center;
    gap: 14px;
}

/* Booking */

.booking__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking__features { 
    display: flex;
    flex-direction: column;
}

.booking__features .title {
    max-width: 511px;
}

.features__items {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

li.feature__container {
    display: flex;
    gap: 21px;
    align-items: center;
}

.feature__container svg {
    width: 48px;
    height: 48px;
}

.feature__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.features__item {
    font-size: 16px;
    color: var(--text);
    font-weight: 700;
}

.feature__text .text {
    font-weight: 400;
    max-width: 327px;
}

.booking__present {
    position: relative;
    right: 5%;
}

.booking__decor {
    position: absolute;
    opacity: 0.8;
    filter: blur(75px);
    top: -55%;
    left: -15%;
}

.tour__block {
    background-color: var(--white);
    padding: 20px 25px 31px;
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 
    0px 20px 13px 0px rgba(0, 0, 0, 0.01), 
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    transition: all 0.4s;
    position: relative;
    z-index: 20;
}

.tour__title {
    margin: 26px 0 13px;
    font-size: 18px;
    color: var(--title);
    font-weight: 500;
    line-height: 124.5%;
    letter-spacing: 0.27px;
}

.tour__info {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 21px;
}

.tour__info span:first-child {
    padding-right: 3px;
    border-right: 1px solid #84829A;
    display: flex;
    align-items: center;
}

.tour__icons {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 30px;
}

.circle {
    padding: 10px;
    border-radius: 50%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.circle svg {
    max-width: 18px;
}

.tour__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tour__footer--counter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.popup {
    border-radius: 18px;
    box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 
    0px 20px 13px 0px rgba(0, 0, 0, 0.01), 
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 
    0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    padding: 16px 25px 22px 16px;
    display: flex;
    gap: 12px;
    background: white;
    position: absolute;
    right: -45%;
    top: 50%;
    z-index: 30;
    min-width: 263px;
}

.popup img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.popup__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.text .popup__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 124.5%; 
    letter-spacing: -0.49px;
}

.popup__content .tour__title {
    color: var(--title);
    font-size: 18px;
    font-weight: 500;
    line-height: 124.5%; 
    letter-spacing: -0.27px;
    margin: 6px 0 14px;
}

.progress__value {
    margin: 8px 0 4px;
}

.progress__bar {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.progress__bar::-webkit-progress-bar {
    background-color: #F5F5F5;
    border-radius: 10px;
}

.progress__bar::-webkit-progress-value {
    background-color: #8A79DF;
    border-radius: 10px;
}

/* Testimonials */

.testimonials {
    margin-top: 208px;
}