.header {
    padding-top: 48px;
    position: relative;
    z-index: 50;

    &__wrapper {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 86px;
            align-items: center;

            li {
                transition: all 0.4s;

                a,
                button {
                    font-size: 17px;
                    font-weight: 400;
                    color: $menu;
                }

                &:not(:last-child):hover,
                .login:hover {
                    color: #14183E;
                    transform: scale(1.05);
                    text-decoration: underline;
                }
            }
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 42px;

        .btn {
            padding: 9px 22px;
            color: $menu;
            font-size: 17px;
            font-weight: 400;
            border: 1px solid $menu;
            border-radius: 5px;
            background: transparent;
            transition: all 0.5s;
            cursor: pointer;

            &:hover {
                background: $accent;
                border-color: $accent;
                color: $white;
                transform: scale(1.05);
            }
        }

        select {
            background: transparent;
            color: $menu;
            font-size: 17px;
            font-weight: 400;
            border: 0px;
            font-family: 'Poppins';
            cursor: pointer;
        }
    }
}
