.pricing {
    padding: 80px 0 150px;
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0.00) 88.56%);
  
    &__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 50px;
      opacity: 0;

      .pricing__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
  
      .cards__wrapper {
        width: 100%;
        display: flex;
        gap: 50px;
        justify-content: space-between;
  
        .pricing__item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 80px 76px 50px;
          border: 2px solid #DDD;
          border-radius: 10px;
  
          &:last-child {
            border-color: $accent;
          }
  
          .item__info {
            display: flex;
            flex-direction: column;
            align-items: center;
  
            img {
              max-width: 145px;
              margin-bottom: 30px;
            }
  
            h3 {
              font-size: 18px;
              font-weight: 500;
              line-height: 30px;
              color: $title;
            }
          }
  
          .pricing__list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0;
            margin-top: 30px;
  
            li {
              display: flex;
              align-items: center;
              font-size: 14px;
              font-weight: 400;
              line-height: 30px;
              color: #4F5665;
  
              &:before {
                content: url('../../public/images/check-circle.svg');
                margin-right: 10px;
                width: 24px;
                height: 24px;
              }
            }
          }
  
          .item__cto {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: center;
          }
  
          .pricing__term {
            font-size: 25px;
            font-weight: 500;
            line-height: 30px;
            color: $title;
          }
  
          .pricing__term--sub {
            font-weight: 400;
            color: $text;
          }
        }
      }
    }
  }
  