$text: #5E6282;
$title: #14183E;
$hero-title: #181E4B;
$menu: #212832;
$accent: #DF6951;
$white: #fff;
$yellow: #F1A501;
$sub-bg: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
$font-family-main: 'Poppins', sans-serif;
$font-family-second: 'Volkhov', sans-serif;
$wrapper: 1280px;