.controls {
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 80;

    .controls__wrapper {
        max-width: 1760px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .social {
            display: flex;
            flex-direction: column;
            gap: 24px;

            & a {
                transition: transform 0.4s;
            }

            & a:hover {
                transform: scale(1.05);
            }

            .social__cto {
                transform: rotate(90deg);
                position: relative;
                left: -20px;
                bottom: 20px;
                color: $main;
            }
        }

        .step {
            display: flex;
            flex-direction: column;
            gap: 40px;
            color: $main;
            font-size: 18px;
            font-weight: 700;
            position: relative;
            margin-right: 65px;

            & span {
                cursor: pointer;
            }

            & progress {
                width: 240px;
                height: 3px;
                position: absolute;
                transform: rotate(90deg);
                top: 45%;
                left: -30px;
                background-color: grey;
            }

            progress::-webkit-progress-value {
                background-color: white !important;
            }
        } 
    }
}  
  