@import "./variables";

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed; 
    top: 0; 
    z-index: 40;
    width: 100%;
    background: transparent;
  }
  
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 64px;
    max-width: 1760px;
    color: $main;
  }
  
  nav ul {
    display: flex;
    gap: 40px;
  }

  nav span {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.32px;
    text-transform: capitalize;
  }
  
  nav ul li a {
    color: $main;
    font-size: 18px;
    font-weight: 700;
  }

.hero__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: start;
    max-width: 950px;
    z-index: 100;
    padding-top: 200px;

    & h1 {
      text-align: left;
      font-size: 88px;
      font-weight: 600;
      line-height: 100px;
      text-transform: capitalize;
      color: #fff;
    }
}