.swiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider__container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
    z-index: 30; 
    position: relative;
    color: $main;
    background: $bg;
  }

  .swiper-slide:first-child .slider__container{
    align-items: unset;
    padding-top: 264px;
    background: linear-gradient(330deg, rgba(11, 29, 38, 0.19) 31.06%, #0B1D26 108.93%), url('../../public/hero-p3.png') top / cover no-repeat;
  }
  
  .swiper-slide:nth-child(2) {
    background: transparent
  }
  
  .swiper-slide:nth-child(2) .slider__container {
    background: linear-gradient(180deg, rgba(11, 29, 38, 0.00) 0%, #0B1D26 61.38%);
  }


  .swiper-slide:nth-child(odd) .wrapper {
    flex-direction: row-reverse;
  }
  
  .swiper-slide:nth-child(odd) .content .title,
  .swiper-slide:nth-child(odd) .content .text {
    text-align: right;
  }
  
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    position: relative;
  }

  .content:before {
    position: absolute;
    font-size: 240px;
    color: #fff;
    font-weight: 700;
    line-height: 240px;
    opacity: 0.1;
    top: -30%;
    letter-spacing: -30px;
    left: -20%;
    font-family: system-ui;
  }

  .swiper-slide:nth-child(2) .content:before {
    content: '01';
  }

  .swiper-slide:nth-child(3) .content:before {
    content: '02';
    right: -15%;
  }

  .swiper-slide:nth-child(4) .content:before {
    content: '03';
  }
  
  .swiper-slide:nth-child(odd) .content {
    align-items: flex-end;
  }  
}
